.feed {
  flex: 1;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10em;
  margin-right: 12em;
}

@media (min-width: 320px) and (max-width: 420px) {
  .feed {
    padding: 10px 0px;
    margin-left: 0.1em;
    margin-right: 0px;
  }
}
