.header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 10px 7px -7px rgba(0, 0, 0, 0.358);
}
.header_left {
  display: flex;
  justify-content: space-evenly;
}

.header_left > img {
  height: 40px;
}

.header_center {
  display: flex;
  flex: 1;
  justify-content: center;
}

/* change icon color */
.header_option > .MuiSvgIcon-root {
  color: rgb(179, 173, 173);
}
.header_option:hover > .MuiSvgIcon-root {
  color: #5d55ff;
}

.header_option {
  display: flex;
  align-items: center;
  padding: 0 45px;
  cursor: pointer;
}

.header_option:hover {
  background-color: #eeeeff;
  border-radius: 10px;
  align-items: center;
  padding: 0 44 px;
  border-bottom: none;
}
.header_info {
  display: flex;
  align-items: center;
}
.header_info > h4 {
  margin-left: 10px;
}
.header_right {
  display: flex;
  margin-right: 20px;
}
.header_option_active > .MuiSvgIcon-root {
  color: #1768ac;
}
.header_option_active {
  border-bottom: 3px solid #1768ac;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.searchInputWrapper {
  position: relative;
  margin-left: 20px;
}

.searchInput {
  width: 18rem;
  background-color: #eeeeff;
  height: 2.3rem;
  padding: 0 1rem;
  border-radius: 2rem;
  border: none;
  transition: transform 0.1s ease-in-out;
}

::placeholder {
  color: #a1a1a1;
}

/* hide the placeholder text on focus */
:focus::placeholder {
  text-indent: -999px;
}

.searchInput:focus {
  outline: none;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

.searchInputIcon {
  position: absolute;
  right: 0.8rem;
  top: 0.5rem;
  color: #a1a1a1;
  transition: all 0.1s ease-in-out;
}

.container:focus-within > .searchInputWrapper > .searchInputIcon {
  right: 0.2rem;
}
