.messageSender {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  background-color: #f8f8ff;
  border-radius: 15px;
  box-shadow: 7px 7px 7px -7px rgba(0, 0, 0, 0.75);
  width: 75%;
}
.messageSender-top {
  display: flex;
  border-bottom: 1px solid rgba(119, 117, 117, 0.71);
  padding: 10px;
}
.messageSender-top > form {
  flex: 1;
  display: flex;
}
.messageSender-top > form > input {
  outline-width: 0px;
  border: none;
  padding: 5px 20px;
  margin: 0 10px;
  color: black;
  font-size: 16px;
  border-radius: 999px;
  background-color: #fdfff5;
  border: 2px solid rgba(119, 117, 117, 0.71);
}

.messageSender-top > form > button {
  display: none;
}

.messageSender-input {
  flex: 1;
}
.messageSender-bottom {
  display: flex;
  justify-content: space-evenly;
}
.messageSender-option {
  padding: 20px;
  display: flex;
  align-items: center;
  color: gray;
  margin: 5px;
}

.messageSender-option > label {
  font-size: medium;
  font-size: 0.9em;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
}
.messageSender-option:hover {
  background-color: #eeeeff;
  border-radius: 20px;
}
.spanError {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 3px;
  color: #cc3300;
}

.spanSuccess {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 3px;
  color: green;
}
.progress-bar {
  color: black;
  font-style: normal;
  text-align: center;
}

@media (min-width: 310px) and (max-width: 420px) {
  .messageSender {
    width: 305px;
    margin: 5px;
  }
  .messageSender-bottom {
    display: flex;
  }
  .messageSender-option {
    padding: 14px;
    margin: 2px;
  }
  .messageSender-option > label {
    display: none;
  }

  .messageSender-top > form > input {
    padding: 5px 5px;
    font-size: 13px;
    margin: 0 10px;
  }
}
