.toTop {
  z-index: 22;
  position: fixed;
  bottom: 2vh;
  margin-top: 400px;
  background-color: #c41c1c;
  color: black;
}
.toTop > :hover > {
  color: #397ba6;
  background-color: #dcdcdc;
  transition: 0.3s;
}
