.sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: black;
  width: 255px;
}

.sidebarRow:hover {
  background-color: #eeeeff;
  border-radius: 10px;
}
.sidebarRow_active {
  background-color: rgb(218, 68, 68);
  border-radius: 10px;
}
.sidebarRow > h4 {
  margin-left: 20px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sidebarRow > .MuiSvgIcon-root {
  font-size: xx-large;
  color: #1768ac;
}

@media (max-width: 576px) {
  .sidebarRow {
    display: flex;
    padding: 10px;
    cursor: pointer;
    color: black;
    background-color: white;
    width: 250px;
    box-shadow: 5px 10px 8px -7px rgba(0, 0, 0, 0.358);
  }
  .sidebarRow:hover {
    border-radius: 0px;
  }
}
