.sidebar {
  padding: 25px 5px;
  flex: 0.33;
  position: fixed;
}
.MenuIconContainer {
  display: none;
}
@media (min-width: 310px) and (max-width: 420px) {
  .sidebar {
    padding: 1px 2px;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
  }
  .MenuIconContainer {
    display: flex;
    position: sticky;
    cursor: pointer;
  }
}
