.main_Container {
  font-family: "Ubuntu", sans-serif;
  width: 700px;
  height: 450px;
  margin-top: 50px;
  background-color: #fdfcfa;
  padding-top: 30px;
  margin-left: 23em;
  border-radius: 1.5em;
  box-shadow: 0px 10px 25px 2px rgba(0, 0, 0, 0.165);
}

.user_profile {
  color: black;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.user_Email {
  width: 80%;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: #fdfff5;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(119, 117, 117, 0.71);
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 75px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

form.User_Form {
  padding-top: 20px;
}

.user_Password {
  width: 80%;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: #fdfff5;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(119, 117, 117, 0.71);
  margin-left: 75px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 15px;
  font-family: "Ubuntu", sans-serif;
}

.un:focus,
.pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit_UserProfile {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background-color: #2541b2;
  border: 0;
  width: 250px;
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  margin-left: 32%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.user_profile_p {
  font-size: 12px;
  text-align: center;
  color: #999999;
  margin-top: 20px;
  align-items: center;
}

@media (max-width: 600px) {
  .main-container {
    border-radius: 0px;
  }
}
