.main-container {
  font-family: "Ubuntu", sans-serif;
  background-color: #fdfcfa;
  width: 400px;
  height: 460px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 15px 35px 2px rgba(0, 0, 0, 0.448);
}

.sign {
  padding-top: 30px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.un {
  width: 76%;
  color: black;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: #fdfff5;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(119, 117, 117, 0.71);
  margin-bottom: 10px;
  margin-left: 46px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

form.form1 {
  padding-top: 20px;
}

.pass {
  width: 76%;
  color: black;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: #fdfff5;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(119, 117, 117, 0.71);
  margin-left: 46px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 15px;
  font-family: "Ubuntu", sans-serif;
}

.un:focus,
.pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background-color: #2541b2;
  border: 0;
  width: 250px;
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  margin-left: 20%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.google {
  cursor: pointer;
  border-radius: 2em;
  color: #fff;
  background-color: #bd1616;
  border: 0;
  width: 250px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  margin-left: 20%;
  margin-top: 20px;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.note {
  font-size: 12px;
  text-align: center;
  color: rgb(172, 168, 168);
  margin-top: 20px;
  align-items: center;
}
@media (max-width: 600px) {
  .main-container {
    border-radius: 0px;
  }
}
.error-text1 {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #cc3300;
  align-items: center;
}
.error-text2 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #cc3300;
  align-items: center;
}
.errorHeading {
  text-align: center;
  margin-top: 30px;
  align-items: center;
  color: #cc3300;
  font-weight: 500;
  font-size: 18px;
}
